@import url('https://fonts.googleapis.com/css2?family=Montserrat');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa8fb1;
  background-image: url("ig.jpg");
  background-size: contain;
  color: aliceblue;
  font-family: 'Montserrat';
}

p{
  font-size: 1.4rem;
  margin: 0;
}

.container{
  display: flex; 
  flex-direction: column;
  background-color: #0000004d;
  width: 350px;
  height: 600px;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 0 50px rgba(0,0,0,0.3);
  border-radius: 1rem;
}

.text{
    color: aliceblue;
    position: relative;
    height: 80px;
    top:40px;
    left:28px;
    font-size: 0.8rem;
    animation: 5s opacity;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: aliceblue;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }